<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.shopping.mapper.UserMapper">
    <resultMap id="UserMap" type="com.spring.shopping.entity.User">
        <id column="user_id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>
        <collection property="roleList" ofType="com.spring.shopping.entity.Role">
            <id column="role_id" property="id"></id>
            <result column="role_type" property="roleType"></result>
            <result column="role_descrip" property="roleDescrip"></result>
        </collection>
    </resultMap>

    <select id="selectUserAndRole" resultMap="UserMap">
        select * from user t1, user_role t2, role t3
        <where>
            <if test="1">
                and t1.id = t2.user_id and t3.id = t2.role_id
            </if>
            <if test="username != null and username != ''">
                and t1.username = #{username}
            </if>
            <if test="roleType != null and roleType != ''">
                and t3.role_type = #{roleType}
            </if>
        </where>
    </select>
    <resultMap id="UserByUsername" type="com.spring.shopping.entity.User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>
    </resultMap>

    <select id="selectUserByUsername" resultMap="UserByUsername">
        select * from user where username = #{username}

    </select>


</mapper>